name: ci

# workflow triggers
on:
  push:
    branches:
      - '**' # every branch
    tags:
      - '**'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  pre-commit-checks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.13"
      - name: pre-commit checks
        run: |
          uv venv
          source .venv/bin/activate
          uv pip install -r requirements.txt
          pre-commit run --all-files

  # check if the makefile recipes are valid
  makefile:
    # needs: [test-and-build, docs] # commented because the serial execution slowed down the CI
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.13"
      - name: makefile recipes
        run: |
          make install
          make tests
